.block {
  display: flex;
  height: 609px;
  width: 1366px;
  background-color: #fff;
  padding: 32px 213px 0px 213px;

  .first-block {
    width: 300px;
    position: relative;
  }
  .image-first-block {
    background-image: url("images/Rectangle\ 5\ \(1\).png");
    width: 300px;
    height: 200px;
  }
  .text-1 {
    font-family: "Open Sans", sans-serif;
    font-size: 28px;
    color: #1f3f68;
    letter-spacing: -3px;
    margin: 16px 0px 16px 0px;
  }
  .text-2 {
    color: black;
    opacity: 60%;
    font-size: 16px;
    letter-spacing: 4px;
  }
  .text-3 {
    font-size: 14px;
    color: #1f3f68;
    margin-top: 16px;
    margin-bottom: 5px;
  }
  .text-4 {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.4);
  }
  .image-main-1 {
    background-image: url("images/Vector\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 15%;
    bottom: 23%;
  }
  .image-main-2 {
    background-image: url("images/Vector\ \(2\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0%;
    bottom: 23%;
  }
  .second-block {
    width: 300px;
    margin: 0px 20px 0px 20px;
    position: relative;
  }
  .image-second-block {
    background-image: url("images/Rectangle\ 5\ \(2\).png");
    width: 300px;
    height: 200px;
  }
  .third-block {
    width: 300px;
    position: relative;
  }
  .image-third-block {
    background-image: url("images/Rectangle\ 5\ \(3\).png");
    width: 300px;
    height: 200px;
  }
  .text-5 {
    font-size: 16px;
    font-weight: bold;
    color: #356ead;
    text-align: right;
    opacity: 80%;
    margin-top: 70px;
  }
}
