.main {
  display: flex;
  background-color: #fff;
  width: 1366px;
  .text-main {
    width: 380px;
    margin: 56px 20px 0px 213px;
    position: relative;
  }
  .text-1 {
    font-size: 20px;
    color: #356ead;
    opacity: 80%;
    font-weight: bold;
  }
  .text-2 {
    color: #1f3f68;
    font-family: "Open Sans", sans-serif;
    font-size: 48px;
    letter-spacing: -1px;
    margin: 32px 0px;
  }
  .text-3 {
    color: black;
    opacity: 60%;
    font-size: 16px;
    letter-spacing: 3px;
  }
  .text-4 {
    font-size: 14px;
    color: #1f3f68;
    margin-top: 32px;
    margin-bottom: 5px;
  }
  .text-5 {
    font-size: 14px;
    color: #1f3f68;
    opacity: 40%;
    letter-spacing: -0.5px;
  }
  .image-main-1 {
    background-image: url("images/Vector\ \(1\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 20%;
    bottom: 3%;
  }
  .image-main-2 {
    background-image: url("images/Vector\ \(2\).png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70%;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 10%;
    bottom: 3%;
  }
  .image-main {
    background-image: url("images/Rectangle\ 5.png");
    width: 540px;
    height: 380px;
    margin-top: 56px;
  }
}
